{% extends "base.html" %}

{% block title %}{% if create %}Add{% else %}Update{% endif %} Medicine{% endblock %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        {% include 'partials/alerts.html' %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {% if create %}ADD{% else %}UPDATE{% endif %} MEDICINE
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">{% if create %}ADD{% else %}UPDATE{% endif %} MEDICINE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}