{% extends "registration/base.html" %}
{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="password" autocomplete="current-password" placeholder="Password" required id="id_password">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                </div>
            </div>
            <div class="row m-t-15 m-b--20">
                <div class="col-xs-6">
                    <a href="{% url 'administrator_signup' %}">Admin Signup</a>
                </div>
                <div class="col-xs-6">
                    <a href="{% url 'pharmacist_signup' %}">Pharmacist Signup</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}