{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Generate Customer Bill{% endblock %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        {% include 'partials/alerts.html' %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Generate Customer Bill</h2>
                    </div>
                    <div class="body">
                        <form method="post" action="" id="billForm">
                            {% csrf_token %}
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="id_company">Customer name</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ bill_form.customer_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_company">Address</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ bill_form.customer_address }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_company">Phone</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ bill_form.customer_phonenumber }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4>Medicine Details</h4>
                            {# formset.as_p #}
                            <div class="row">
                                {% for line in formset %}
                                <div class="col-lg-6">
                                    {{ line.as_p }}
                                </div>
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">GENERATE BILL</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

<script>
    var form = document.getElementById("form");
    // Disable this submit button for now
    form.addEventListener("submit", (event) => {
        event.preventDefault();
    });

    // You can use 'change' event rather but 'input' event listens
    // as the user types while 'change' happens when the user leaves
    // the input. Replace and see the differences
    form.addEventListener("input", (event) => {
        // Cast the values to integers
        var amount = Number(document.getElementById("amount").value);
        // Return zero instead in case we get NaN from the coercion
        amount = amount ? amount : 0;

        var quantity = Number(document.getElementById("id_quantity").value);
        quantity = quantity ? quantity : 0;

        var total = document.getElementById("total");

        if (amount && quantity) {
            // both amount and quantity are valid integers
            total.textContent = amount * quantity;
        } else {
            // clear the field
            total.textContent = "";
        }
    });
</script>

{% endblock %}