{% extends "base.html" %}

{% block title %}{% if create %}Add{% else %}Update{% endif %} Employee{% endblock %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        {% include 'partials/alerts.html' %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {% if create %}ADD{% else %}UPDATE{% endif %} EMPLOYEE
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post" action="">
                            {{ employee_form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">{% if create %}ADD{% else %}UPDATE{% endif %} EMPLOYEE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Employee Salary
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <a href="{% url 'employee_salary_create' employee.id %}" class="btn btn-info">Add Employee Salary</a>
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>SALARY DATE</th>
                                    <th>AMOUNT</th>
                                    <th>ADDED ON</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for salary in employee.salaries.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ salary.salary_date|date:"F j, Y" }}</td>
                                    <td>{{ salary.salary_amount }}</td>
                                    <td>{{ salary.added_on }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}