{% extends "base.html" %}

{% block title %}Add Employee{% endblock %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        {% include 'partials/alerts.html' %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ADD EMPLOYEE
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post" action="">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <!-- <label for="id_name">Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form.company }}
                                </div>
                            </div>
                            <label for="id_joined_date">Joined date</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form.joined_date }}
                                </div>
                            </div>
                            <label for="id_phone">Phone</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form.phone }}
                                </div>
                            </div>
                            <label for="id_address">Address</label>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form.address }}
                                </div>
                            </div> -->
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">ADD EMPLOYEE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

{% endblock %}