{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %} | Pharmacist Admin Board</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/waves.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'css/morris.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'css/all-themes.css' %}" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{% url 'home' %}">PHARMACY MEDICAL MANAGEMENT</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <!-- <div class="user-info">
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username|title }}</div>
                    <div class="email">{{ request.user.email }}</div>
                </div>
            </div> -->
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="{% url 'home' as home_url %}{% if request.get_full_path == home_url %}active{% endif %}">
                        <a href="{% url 'home' %}">
                            <!-- <i class="fa-solid fa-home"></i> -->
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li
                        class="{% url 'medicine_list' as medicine_list_url %} {% if request.get_full_path == medicine_list_url %}active{% endif %}">
                        <a href="{% url 'medicine_list' %}">
                            <i class="material-icons">local_hospital</i>
                            <span>Manage Medicines</span>
                        </a>
                    </li>
                    {% if request.user.is_administrator %}
                    <li class="{% url 'company_list' as company_list_url %} {% if request.get_full_path == company_list_url %}active{% endif %}">
                        <a href="{% url 'company_list' %}">
                            <i class="material-icons">assessment</i>
                            <span>Manage Companies</span>
                        </a>
                    </li>
                    <li class="{% url 'company_account_list' as company_account_list_url %} {% if request.get_full_path == company_account_list_url %}active{% endif %}">
                        <a href="{% url 'company_account_list' %}">
                            <i class="material-icons">account_balance</i>
                            <span>Manage Company Account</span>
                        </a>
                    </li>
                    <li class="{% url 'employee_list' as employee_list_url %} {% if request.get_full_path == employee_list_url %}active{% endif %}">
                        <a href="{% url 'employee_list' %}">
                            <i class="material-icons">person</i>
                            <span>Manage Employees</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="{% url 'create_bill' as create_bill_url %} {% if request.get_full_path == create_bill_url %}active{% endif %}">
                        <a href="{% url 'create_bill' %}">
                            <i class="material-icons">local_printshop</i>
                            <span>Generate Bill</span>
                        </a>
                    </li>
                    <li class="{% url 'customer_requests' as customer_requests_url %} {% if request.get_full_path == customer_requests_url %}active{% endif %}">
                        <a href="{% url 'customer_requests' %}">
                            <i class="material-icons">feedback</i>
                            <span>Customer Requests</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="material-icons">exit_to_app</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; {% now "Y" %} Pharmacy Admin
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    {% block content %}{% endblock content %}

    <!-- Jquery Core Js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core Js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'js/raphael.min.js' %}"></script>
    <script src="{% static 'js/morris.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'js/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'js/demo.js' %}"></script>

    <script>

        const labels = Utils.months({ count: 7 });
        const data = {
            labels: labels,
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };
        const config = {
                type: 'line',
                data: data,
            };
        
        
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>
